/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    color: black;
}

/* Header styles */
#header {
    position: relative;
    color: white;
}
#header-content h1 {
    margin: 0;
    font-size: 2em; 
    font-family: Verdana;
    text-align: center;
    color: rosybrown;
}

/* Navbar styles */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1; 
    height: 60px; 
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: white;
    color: black;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Mobile navigation */
.mobile-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 200px;
    padding-top: 20px;
    z-index: 1;
}
.mobile-nav a {
    background-color: #bc8f8f; 
    color: white; 
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.mobile-nav a:hover {
    background-color: #45a049;
}

.content {
    padding: 20px;
    text-align: center;
}
.responsive-video {
    width: 100%;
    height: auto;
    margin-top: 60px; 
}

.video-header {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    text-align: center;
}
.video-header h1 {
    color: #6F4E37;
    margin: 0;
}
.gallery h2 {
    text-align: center;
    font-family: Verdana;
    color: #333; 
    margin: 20px 0; 
}
.gallery-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color:#6F4E37;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.gallery-link:hover {
    background-color: #6F4E37;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

/* Gallery styles */
.gallery {
    padding: 20px;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-item {
    flex: 1 0 21%; 
    margin: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.gallery-item img, .gallery-item video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    object-fit: cover; 
    aspect-ratio: 1 / 1;
}
.description {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
    text-align: center;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}

/* Contact bar */
#contact-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ecf0f1;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: relative; 
}

.contact-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#contact-bar h2 {
    margin: 0; 
    font-size: 1.5em; 
    color: white; 
}

#contact-bar p {
    margin-top: 10px; 
}

#contact-bar a:hover {
    text-decoration: underline;
}

/* Headings styles */
h1 {
    color: white;
}
h2 {
    color: #6F4E37;
}

/* Screen sizes */
@media only screen and (max-width: 768px) {
    .navbar a {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .mobile-nav {
        top: 50px; 
    }

    /* Mobile */
    .gallery-container {
        flex-direction: column;
        align-items: center;
    }
    .gallery-item {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}
@media only screen and (min-width: 769px) {
    .hamburger {
        display: none;
    }
}

/* Video fade-in*/
.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 2; }
}

/* Style */
.video-container {
    position: relative;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
}

.video-overlay h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}
